<!doctype html>
<html>
    <head>
        {% include "header.html.twig" %}
    </head>

    <body>
        {% include "navbar.html.twig" %}
        {% include "Login.html.twig" %}
        {% include "Signup.html.twig" %} 
        {% include "createEmployee.html.twig" %} 

        <div class="container">
        <br>
        <h2>Zaměstnanci</h2>
        <a class="btn btn-dark pull-right" href="javascript:void(0);" data-toggle="modal" id="btn-createEmployee" data-target="#createEmployee">
        <i class="fas fa-plus-circle"></i> Vytvořit zaměstnance</a>
        <br>

             {% for employee in allEmployees %}
                {% if not employee.getid == null %}

                    <div class="card text-center">
                    <div class="card-header group-header">{{ employee.getSurname ~ ' ' ~ employee.getLastname}}
                    <div id="{{ 'employeeHeader' ~ employee.getId }}">{{ employee.getPoints ~ ' bodů'}}</div>
                    </div>
                    <div class="card-body">

                    <div id="{{ 'employeeRow' ~ employee.getId }}" class="row">
                        {% for tag in tags[employee.getid] %}
                            {% if not tag == null %}
                            {% if tag.getSource == 'generated' %}
                                {% set alert = 'alert-warning' %}
                            {% else %}
                                {% set alert = 'alert-success' %}
                            {% endif %}
                                <div class="alert {{ alert }} alert-dismissible fade show" role="alert">
                                <strong>{{ tag.getName ~ '  |  ' ~ tag.getType ~ ' |  ' ~ tag.getPoints ~ ' bodů'}}</strong>
                                <button type="button" class="close employee-label" data-dismiss="alert" data-idTag="{{ tag.getId }}" data-points="{{ tag.getPoints }}" data-idEmployee="{{ employee.getId }}" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>

                                <div style="width:10px;"></div>
                            {% endif %}
                        {% endfor %}

                        <select id="{{ 'employee-box' ~ employee.getId }}" data-idEmployee="{{ employee.getId }}" class="form-select alert assign-tags-box" style="border-style: solid">
                        <option selected>  -  </option>
                        {% for unassignedTag in unassignedTags[employee.getid] %}
                            {% if not unassignedTag == null %}
                                <option value="{{ unassignedTag.getId }}" data-tagPoints="{{ unassignedTag.getPoints }}" >{{ unassignedTag.getName }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>


                    </div>


                    </div>
                    <div class="card-footer text-muted">
                    </div>
                    </div>


                {% endif %}
                <br>

            {% endfor %} 
            
        </div>


        {% include "Footer.html.twig" %}
    </body>
</html>

