<!doctype html>
<html>
    <head>
        {% include "header.html.twig" %}
    </head>

    <body>
        {% include "navbar.html.twig" %}
        {% include "Login.html.twig" %}
        {% include "Signup.html.twig" %} 
        {% include "createSubject.html.twig" %} 

        <div class="container">
        <br>
        <h2>Předměty</h2>
        <a class="btn btn-dark pull-right" href="javascript:void(0);" data-toggle="modal" id="btn-createSubject" data-target="#createSubject">
        <i class="fas fa-plus-circle"></i> Vytvořit předmět</a>
        <br>
        <br>
    
        {% for subject in allSubjects %}
            {% if not subject.getid == null %}

                <div class="card text-center">
                    <div class="card-header group-header">{{ subject.getShortcut }}</div>
                    <div class="card-body main-text">
                        <div class="left-panel">
                            <div>Počet přednášek: {{ subject.getLectureCount }}</div>
                            <div>Počet cvičení: {{ subject.getLectureCount }}</div>
                        </div>

                        <div class="right-panel">
                            <div>Počet seminářů: {{ subject.getSeminarCount }}</div>
                            <div>Kapacita: {{ subject.getClassCount }} studentů</div>
                        </div>
                    </div>

                    <div class="card-footer text-muted"></div>
                </div>

            {% endif %}

            <br>
        {% endfor %}

        </div>


        {% include "Footer.html.twig" %}
    </body>
</html>

